flows/Account_Actualiza_centro_de_experiencia_de_preferencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuentas</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
    </decisions>
    <decisions>
        <name>Valida_el_tipo_de_cuenta</name>
        <label>Valida el tipo de cuenta</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cuenta_personal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Personal</targetReference>
            </connector>
            <label>Cuenta personal</label>
        </rules>
        <rules>
            <name>Cuenta_empresarial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</targetReference>
            </connector>
            <label>Cuenta empresarial</label>
        </rules>
    </decisions>
    <description>Flujo que actualiza en la cuenta el centro de experiencia de preferencia teniendo en cuenta la sucursal a la cual está asignado el propietario.</description>
    <environments>Default</environments>
    <interviewLabel>Account - Actualiza centro de experiencia de preferencia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Actualiza centro de experiencia de preferencia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenga_el_contacto_interno</name>
        <label>Obtenga el contacto interno</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_el_tipo_de_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtenga_el_tipo_de_registro_Contacto_Interno.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtenga_el_tipo_de_registro_Contacto_Interno</name>
        <label>Obtenga el tipo de registro Contacto Interno</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtenga_el_contacto_interno</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Personal</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Personal</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__pc</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualice_el_Centro_de_Experiencia_de_Preferencia_de_la_Cuenta_Empresa</name>
        <label>Actualice el Centro de Experiencia de Preferencia de la Cuenta Empresa</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Preference_Experience_Center__c</field>
            <value>
                <elementReference>Obtenga_el_contacto_interno.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtenga_el_tipo_de_registro_Contacto_Interno</targetReference>
        </connector>
        <filterFormula>AND(
OR(
{!$Record.RecordType.DeveloperName} =&apos;IndustriesBusiness&apos;,
{!$Record.RecordType.DeveloperName} =&apos;PersonAccount&apos;),
ISCHANGED({!$Record.OwnerId})
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
