flows/Case_Send_closure_email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Caso_Anulado_Alert_email</name>
        <label>Send &quot;Caso Anulado Alert&quot; email</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <actionName>Case.Caso_Anulado_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mark_that_the_email_has_been_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Caso_Anulado_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if user has bypass flow</description>
        <name>User_has_flow_bypass</name>
        <label>User has flow bypass?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Send_Caso_Anulado_Alert_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ByPass_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Bypass</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Send closure email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Send closure email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Mark_that_the_email_has_been_sent</name>
        <label>Mark that the email has been sent</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CaseClosureEmailSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_has_flow_bypass</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Permission.ByPass_Flow_r}),
ISPICKVAL({!$Record.Status}, &quot;Cerrado&quot;),
{!$Record.CaseAnnulled__c},
NOT(ISBLANK(TEXT({!$Record.CancellationReason__c}))),
NOT({!$Record.CaseClosureEmailSent__c})
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
